extends layout

block content
    h1= title
    h3 
        a(href='/#') Main
    p
    hr

    // Wrapper
    #wrapper

        // LEFT PANEL
        #leftPanel
            h2 Menu
            p
                a(href='/users/') User management
                
        // /LEFT PANEL

        // MAIN AREA
        #mainArea
            h2 Main
            p Welcome to the main page of the IT Control Panel
        // /MAIN AREA



    // /WRAPPER