extends layout

block content
    h1= title
    h3 
        a(href='/#') Main
        |  > 
        a(href='/users/#') Users
    p
    hr

    // Wrapper
    #wrapper

        // USER INFO
        #leftPanel
            h2 User Info
            p
                strong Name:
                |  <span id='userInfoGivenName'></span> <span id='userInfoSurname'></span>
                br
                strong Email Address:
                |  <span id='userInfoEmail'></span>
                br
                strong Department:
                |  <span id='userInfoDepartment'></span>
                br
                strong Title:
                |  <span id='userInfoTitle'></span>
                br
                strong Location:
                |  <span id='userInfoLocation'></span>
                br
                strong Direct Dial:
                |  <span id='userInfoTelephoneNumber'></span>
                br
                strong Extension:
                |  <span id='userInfoExtension'></span>
                br
                strong Mobile:
                |  <span id='userInfoMobile'></span>
                
                
            h2 Add User
            #addUser
                fieldset
                    input#inputUserGivenName(type='text', placeholder='First')
                    input#inputUserSurname(type='text', placeholder='Last')
                    br
                    input#inputUserDepartment(type='text', placeholder='Department')
                    input#inputUserTitle(type='text', placeholder='Title')
                    br
                    input#inputUserTelephoneNumber(type='text', placeholder='Direct Dial')
                    input#inputUserExtension(type='text', placeholder='Extension')
                    br
                    input#inputUserMobile(type='text', placeholder='Mobile')
                    input#inputUserUserName(type='text', placeholder='UserName')
                    br
                    input#inputUserEmail(type='text', placeholder='Email')
                    br
                    button#btnAddUser Add User
    
                
                
        // /USER INFO

        // USER LIST
        #mainArea
            h2 User List
            table
                thead
                    th UserName
                    th Email
                    th Delete?
                tbody
            
        // /USER LIST
        
        

    // /WRAPPER